<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/user.css"/>
</head>
<body>

<div id="nav">Little Black Book - <strong>Hi {{user.firstName}}!</strong></div>


    {{{body}}}

<script src="assets/js/script.js"></script>
</body>
</html>