/*CSS for the Mate Collapse*/
@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

* {
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size:1.1em;
    margin: 1em 0;
}

.description {
    margin: 1em auto 2.25em;
}

/*css for the body */

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2.5em;
}

ul {
    list-style: none;
    padding: 0;

.inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;

&.show {
     /*display: block;*/
 }
}

li {
    margin: .5em 0;

a.toggle {
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;

&:hover {
     background: rgba(0, 0, 0, 0.9);
 }
}
}
}


body{
    background:url('../images/user.jpg')  no-repeat center center fixed;
    background-color: #000000;
    -webkit-background-size:;
    background-size: cover;
    background-position: top;
    font-family: "fantasy",Tahoma,Arial;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#fff;
}

div.container {
    width: 960px;
    border: 1px solid gray;
    margin-left:auto;
    margin-right:auto;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #555555;
    text-align: center;
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

header .logo{
    font-family: 'Pacifico', cursive;

    font-size:3em;
    line-height: 1;
    margin:0;
    padding:0;
}
header .logo a{
    text-decoration: none;
    color:#000000;
}
header .logo:first-letter {
    color:#000000;
}

nav {
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    font-size: .5cm;
    color: #000000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

h1 {
    font-size: .8cm;
}

h3 {
    font-size: .5cm;
    color: #000000;
    text-align: center;
}

/* styling for the mate section */


@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .mate {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}