/*CSS for the Mate Collapse*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
html{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}


body{
    /*background:url('../images/user.jpg')  no-repeat center center fixed;*/
    background-color: #f2f2f2;
    -webkit-background-size:;
    background-size: cover;
    background-position: top;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#fff;
}

#nav{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 1.4em;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    background-color: #80d4ff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    width: 100%
}
strong{
    font-weight: 600;
}
.mate, #mNew{
    margin: auto;
    width: 80%;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    background-color: rgba(255,255,255,.75);
    min-height: 15px;
    margin-bottom: 25px;
    padding-top: 15px;
}
.mHead{
    clear: both;
    margin-bottom: 25px;
}
.mHead a{
    width: 100px;
    float: left;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
a{
  color: #333;
  text-decoration: none;  
}
a:hover{
    color: #ff4d4d;
}
.mHead p{
    display: inline;
    float: right;
}
.rating, .avgRating{
    color: #ff5050;
}
.events{
    display: none;
}
.event, .eventNew, form{
    border-radius: 5px;
    background-color: #EAEAEA;
    padding: 10px;
    margin-bottom: 15px;
}
.eventNew a{
    font-size: 1em;
}
#mNew a{
    font-style: italic;
}
form{
    display: none;
}
form{
    margin-top: 15px;
}
label{
    font-weight: 600;
}
input{
    margin-top: 5px;
    outline: none;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .9em;
}
select {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}
button{
    outline: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    background: linear-gradient(to bottom, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background-color: #ff5050;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
button:hover{
    background: linear-gradient(to bottom, #cce8ef 0%, #a7d5e2 41%, #73bace 100%);
}
button:active{
    background: linear-gradient(to bottom, #3ba2bf 0%, #3890a8 41%, #2e7284 100%);
}


